body {
    background-color: #f9f9f9;
    color: #00274C;
    font-family: "IBM Plex Sans", "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #00274C;
    color: #f9f9f9;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

header img {
    max-height: 50px;
}

nav li {
    display: inline;
    padding: 0 5px;
    font-size: 0.35em;
}

nav a {
    color: #f9f9f9;
    font-weight: bold;
    text-decoration: none;
}

.active a {
    color: #FFCB05;
    padding: 1px;
    border: 2px solid #FFCB05;
}

.skip a {
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a {
    position: absolute;
    top: -40px;
}

.skip a:focus {
    top: 20px;
}

*:focus {
    border: 2px solid #00274C;
}

.main_info {
    padding: 0 25px;
}

.support_areas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.2em;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    background-color: #FFCB05;
}

h2 {
    font-size: 1.2em;
    text-align: center;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1.0em;
}

h5 {
    font-size: 0.9em;
}

p,
ul {
    font-size: 0.9em;
    padding: 0.2em;
}

p {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

figcaption {
    font-size: 0.8em;
    text-align: center;
}

footer {
    background-color: #00274C;
    color: #f9f9f9;
    padding: 2%;
    font-size: 1em;
    justify-content: center;
    justify-items: center;
}

ul {
    list-style-type: none;
}

footer a {
    color: #FFCB05;
}

footer {
    text-align: center;
}

.horizontal-nav {
    display: none;
}

@media only screen and (min-width: 800px) {

    .nav {
        text-align: right;
        font-size: 2em;
    }

    .body {
        display: flex;
        flex-direction: row;
        flex: 2 3 auto;
        overflow: hidden;
        height: 100vh;
    }

    .horizontal-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #f0f0f0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        padding: 20px;
        width: 20%;
    }

    .horizontal-nav li {
        padding: 5px 0;
    }

    .horizontal-nav a {
        color: #002745;
        text-decoration: none;
        font-size: 0.7em;
    }
    
    .main_info {
        overflow-y: auto;
    }

    .main_grid {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }
    .main_grid > .item {
        background-color: #f0f0f0;
        padding: 1rem; 
        border-radius: 8px; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        flex: 1 1 23%;
    }

    .main_grid > .item p {
        font-size: 0.6em;
    }

    .main_grid > .item img {
        width: 100%;
    }

    .main_grid h3 {
        font-size: 0.62em;
        text-align: center;
        font-weight:400;
    }
}